* {
  box-sizing: border-box;
}

html {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  color: #000;
}

main {
  width: 95%;
  margin: auto;
}

/* Header */

header {
  display: flex;
  padding-top: 30px;
}

nav {
  flex: 1;
  padding-top: 60px;
}

ul {
  list-style-type: none;
  text-align: right;
}

nav li, footer li {
  float: right;
}

nav li a {
  border-radius: 15%;
  color: #000;
  display: inline;
  text-decoration: none;
  margin-right: 30px;
  padding: 15px;
}

nav a:hover {
  background-color: #d5c368;
  color: #fff;
}

/* Main */

.banner-img {
  overflow: hidden;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

h2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

/* About NJC */

article h2 {
  border-bottom: 1px solid #000;
}

.about-us {
  margin: 2rem 12rem;
  padding: 4rem;
}

.about-njc {
  padding-bottom: 2rem;
  line-height: 4rem;
}

/* Locations */

.locations {
  margin: 2rem 8rem;
}

.location-table {
  border-spacing: 30px;
  width: 85%;
  margin: auto;
}

.location-name th {
  border-bottom: 1px solid #000;
  margin: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.location-table td {
  padding-left: 2.5rem;
}

.location-weekend-hours td {
  height: 50px;
}

/* Email List */
.email-list {
  text-align: center;
  padding: 6rem;
}


/* Footer */

footer {
  bottom: 0;
  padding: 1.5rem;
  width: 100%;
}

footer li {
  margin-left: 1rem;
}

.socials {
  padding: 10px;
}

.fa {
  border-radius: 10px;
  font-size: 30px;
  padding: 25px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  background-color: #808080;
  opacity: 0.7;
}

.fa-twitter {
  background: #000;
  color: white;
}

.fa-instagram {
  background: #000;
  color: white;
}


/* Menu Page */

.menu-main {
  width: 100%;
}

#menu-availability {
  margin-left: 3rem;
  padding-bottom: 3rem;
}

.coffee-cup {
  padding-left: 4rem;
  width: 85%;
}

.njc-drinks {
  display: flex;
  margin: 0 auto;
}

.menu-drink {
  flex: 60%;
}

.njc-drink-menu {
  flex: 40%;
  margin: auto 0 auto 4rem;
}

.drink-table {
  width: 90%;
}

.drink-table td {
  padding: 20px;
}

.drink-title, .drink-table {
  height: 60px;
}

.drink-title {
  color:#d5c368;
}

/* Food menu section */
h4 {
  padding-top: 1.5rem;
}

#local-source {
  background-color: #bead5a;
  margin: 8rem auto;
  padding: 20rem;
} 

#local-source p {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.breakfast-menu {
  text-align: center;
}

.breakfast-title, .toast-title {
  color:#bead5a;
}

.toast-title {
  padding-top: 3rem;
}

.food-allergy {
  border-radius: 10px;
  border: 1px solid #000;
  margin: 4px 4px; 
  padding: 3px 6px;
}

@media screen and (max-width: 1600px) {

  nav ul {
    margin: 0;
    padding: 0;
    max-width: 100%;
  } 

  nav li a {
    display: block;
    float: right;
    padding: 8px 16px;
    text-align: right;
  }

  .njc-drink-menu {
    flex-wrap: wrap;
  }

  .njc-drinks {
    flex-direction: column;
  }

  .drink-table {
    margin: auto;
  }

  .drink-title {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .about-us {
    margin: 0;
    width: 100%;
  }
}

