html {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  color: #000;
}

main {
  width: 95%;
  margin: auto;
}

/* Header */

header {
  display: flex;
  padding-top: 30px;
}

nav {
  flex: 1;
  padding-top: 60px;
}

ul {
  list-style-type: none;
  text-align: right;
}

nav li, footer li {
  float: right;
}

li a {
  border-radius: 15%;
  display: inline;
  text-decoration: none;
  margin-right: 30px;
  padding: 15px;
}

nav a:hover {
  background-color: #d5c368;
  color: #fff;
}

/* Main */

.banner-img {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

/* About NJC */

article h2 {
  border-bottom: 1px solid #000;
}

.about-us {
  margin: 2rem 12rem;
  padding: 4rem;
}

.about-njc {
  padding-bottom: 2rem;
  line-height: 4rem;
}

/* Locations */

.locations {
  margin: 2rem 8rem;
}

.location-table {
  border-spacing: 30px;
  width: 100%;
}

.location-name th {
  border-bottom: 1px solid #000;
  margin: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.location-weekend-hours td {
  height: 60px;
}

/* Email List */
.email-list {
  text-align: center;
  padding: 6rem;
}


/* Footer */

footer {
  bottom: 0;
  padding: 1.5rem;
  width: 100%;
}

.socials {
  padding: 10px;
}


.fa {
  padding: 25px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #000;
  color: white;
}

.fa-instagram {
  background: #000;
  color: white;
}


/* Menu */

.menu-main {
  width: 100%;
}

#menu-availability {
  margin-left: 3rem;
  padding-bottom: 3rem;
}

.njc-drinks {
  display: grid;
  grid-template-columns: auto auto;
}

.coffee-cup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.drink-table {
  width: 70%;
}

.drink-title, .drink-table td {
  height: 60px;
}


#local-source {
  background-color: #d5c368;
  margin: 8rem auto;
  padding: 20rem;
} 

#local-source p {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin
}